---
import { statsApi } from "../../util/stats-api.ts";
import { getMatchSize } from "../../util/getMatchSize.ts";

const { groupId } = Astro.params;
const data = await statsApi.fetchGroupDetails(Number(groupId));
---

<style>
  table,
  td,
  tr {
    border: 1px solid #000;
    border-collapse: collapse;
  }

  td,
  th {
    padding: 6px;
  }
</style>
<main>
  <h1>Group {groupId}</h1>
  <table>
    <tr>
      <th>Match id</th>
      <td>{data.match.match_id}</td>
    </tr>
    <tr>
      <th>Maps</th>
      <td>{data.match.maps.join(", ")}</td>
    </tr>
    <tr>
      <th>Type</th>
      <td>{getMatchSize(data.match.size)}</td>
    </tr>
    <tr>
      <th>State</th>
      <td>{data.match.state}</td>
    </tr>
    <tr>
      <th>Winner</th>
      <td>{data.match.winner}</td>
    </tr>
    <tr>
      <th>Channel name</th>
      <td>{data.match.channel_name}</td>
    </tr>
  </table>
</main>
