---
import { statsApi } from "../../../util/stats-api.ts";
import { getMatchSize } from "../../../util/getMatchSize.ts";
import { aggregateRoundStats } from "../../../util/aggregateRoundStats";
import Layout from "../../../layouts/Layout.astro";
import PlayerRow from "../../../components/player-row/player-row.astro";

const { groupId } = Astro.params;
const data = await statsApi.fetchGroupDetails(Number(groupId));
const teams = aggregateRoundStats(data);

const oneHourInSeconds = 60 * 60;

Astro.locals.cache(oneHourInSeconds);
---

<style>
  main {
    color: rgba(255, 255, 255, 0.8);
  }
  table,
  td,
  tr {
    border: 1px solid rgba(255, 255, 255, 0.7);
    border-collapse: collapse;
  }

  td,
  th {
    padding: 6px;
  }

  .tables table {
    margin-bottom: 24px;
  }

  .name-part {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
  }
</style>
<Layout
  title={`ETL Stats - Group ${groupId}`}
  description={`ETL Stats - Group ${groupId}`}
>
  <main>
    <h1>Group {groupId}</h1>
    <div class="tables">
      <table>
        <tr>
          <th>Match id</th>
          <td>{data.match.match_id}</td>
        </tr>
        <tr>
          <th>Maps</th>
          <td>{data.match.maps.join(", ")}</td>
        </tr>
        <tr>
          <th>Type</th>
          <td>{getMatchSize(data.match.size)}</td>
        </tr>
        <tr>
          <th>State</th>
          <td>{data.match.state}</td>
        </tr>
        <tr>
          <th>Winner</th>
          <td>{data.match.winner}</td>
        </tr>
        <tr>
          <th>Channel name</th>
          <td>{data.match.channel_name}</td>
        </tr>
      </table>

      <table>
        <tr>
          <th>Alpha</th>
          <th>Kills</th>
          <th>Deaths</th>
        </tr>
        {
          teams.alpha.players.map((player) => (
            <PlayerRow name={player.name} weaponStats={player.weaponStats} />
          ))
        }
      </table>
      <table>
        <tr>
          <th>Beta</th>
          <th>Kills</th>
          <th>Deaths</th>
        </tr>
        {
          teams.beta.players.map((player) => (
            <PlayerRow name={player.name} weaponStats={player.weaponStats} />
          ))
        }
      </table>
    </div>
  </main>
</Layout>
