---
import '@fontsource-variable/noto-sans/wght.css'
import '@/assets/global.css'
import notoWoff2 from '@fontsource-variable/noto-sans/files/noto-sans-latin-wght-normal.woff2'
interface Props {
  title: string
  description?: string
}

const { title, description } = Astro.props

const desc = description ?? ''
---

<!doctype html>
<html lang="en" class="dark">
  <head>
    <meta charset="UTF-8" />
    {desc && <meta name="description" content={description} />}
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={Astro.url} />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={notoWoff2}
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="bg-etl-bg-100 text-etl-text antialiased">
    <main class="mx-auto w-full max-w-7xl">
      <slot />
    </main>
  </body></html
>
