---
import "@fontsource-variable/noto-sans/wght.css";
import notoWoff2 from "@fontsource-variable/noto-sans/files/noto-sans-latin-wght-normal.woff2";
import "@/assets/global.css";
import ThemeScript from "@/components/theme-script/theme-script.astro";
interface Props {
  title: string;
  description?: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    {description && <meta name="description" content={description} />}
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="canonical" href={Astro.url} />
    <link
      rel="preload"
      as="font"
      type="font/woff2"
      href={notoWoff2}
      crossorigin="anonymous"
    />
    <meta name="generator" content={Astro.generator} />
    <ThemeScript />
    <title>{title}</title>
  </head>
  <body class="text-etl-text bg-etl-bg antialised">
    <slot />
  </body>
</html>
